body{
    margin: 0;
    padding: 0;
    border: 0;
}
.cima{
    width: 100%;
    height: 56%;
    display: flex;
    background: url("banner.jpg") 100% center no-repeat;
    background-size: 100%;
}
#meio{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 45%;
    width: 100%;
    color: rgb(54, 54, 54);
    background-color: rgb(247, 247, 247);
}
#meio2{
    display: flex;
    flex-direction: column;
    width: 100%;
    color: rgb(255, 255, 255);
    background-color: rgb(32, 32, 32);
}
#creditos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
    background-color: rgb(247, 247, 247);
}
#rodape{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40%;
    width: 100%;
    color: rgb(54, 54, 54);
    background-color: rgb(247, 247, 247);
}
#logo{
    height: 100px;
    width:200px; 
}
#meio-card{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    align-items: center;
    height: 70%;
    width: 100%;
    color: rgb(54, 54, 54);
    background-color: rgb(32, 32, 32);
    justify-content: space-around ;
}
.card{
    height: 430px;
    width: 330px;
    background-color: rgb(240, 240, 240);
    display: flex;
    flex-direction: column;
}
.texto{
    width:300px;
    align-self: center;
    text-align: justify;
    margin-left: 5px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.carro{
    height: 200px;
}
#menu{
    display: flex;
    align-self: flex-end;
}
#pesquisa{
    width: 350px;
    border:none;
    background: url("lupa.png") no-repeat;
    background-color: rgba(255,255,255,0.1);
    background-size: 40px;
    text-align: center;
    color: #FFF;
}
.div-pesquisa{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 35px;
    margin-right: 2px;
    margin-top: -38px;

}
.btn {
    line-height: 50px;
    height: 50px;
    text-align: center;
    width: 250px;
    cursor: pointer;
    margin-left: 1px;
  }
  .btn-three {
    color: #FFF;
    transition: all 0.5s;
    position: relative;
  }
  .btn-three::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(255,255,255,0.1);
    transition: all 0.3s;
  }
  .btn-three:hover::before {
    opacity: 0 ;
    transform: scale(0.5,0.5);
  }
  .btn-three::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border: 2px solid rgba(255, 255, 255, 0.5);
    transform: scale(1.2,1.2);
  }
  .btn-three:hover::after {
    opacity: 1;
    transform: scale(1,1);
  }
